*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

html{
font-size: 13px;    
}




body{
color: brown;  
font-size: 1em; 
}

#Infos{
background-color: yellow;   
color: red; 
}

#ordinateur.jpeg{
color: blue;
}                                                                                                                                                                                                                                   